<html>
    <head>
        <title>practice</title>
    </head>
    <body>
        <h1> Calculator</h1>
        <form method="POST" action="{% url 'Laptop_data' %}" >
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h2>Data Saved:</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Laptop Name</th>
                    <th>Laptop Description</th>
                    <th>Laptop Image</th>
                </tr>
            </thead>
            <tbody>
                {% for data in L_data %}
                <tr>
                    <td>{{ data.Laptop_name }}</td>
                    <td>{{ data.Laptop_desc }}</td>
                    <td>
                        {% if data.Laptop_img %}
                            <img src="{{ data.Laptop_img.url }}" width="100">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No records found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %} {% endif %} {% endcomment %}

    </body>
</html>