<html>
    <head>
        <title>News Page</title>
    </head>
    <body>
        Hello This is news Page
        <marquee onmouseover="stop()" onmouseout="start()" style='background-color:gray;'>
            {% for news in newsall %}
                <a href='/news/{{news.news_slug}}' style='color:white;'>{{news.news_title}}</a>&nbsp;&nbsp;
            {% endfor %}
        </marquee>
        <h1>{{Newsdetails.news_title}}</h1>
        <h3>{{Newsdetails.news_desc | safe}}</h3>
    </body>
</html>